/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/
.body {
  background-color: #e4d5fdb9;
}

.title {
  color: #8d2ab5;
}

#jeopardy {
  text-align: center;
  font-size: 9pt;
  background-color: #060ce9;
  color: white;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

#jeopardy th, #jeopardy td {
  border: solid 1px white;
  width: 12em;
  padding: 1em;
}

th {
  text-transform: uppercase;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  height: 4em;
  text-shadow: rgb(144, 11, 184) 1px 1px;
}

td {
  height: 9em;
  font-family: Copse, serif;
}

td:hover {
  cursor: pointer;
}

#restart {
  background-color: #8d2ab5;
  color: white;
  border-radius: 4px;
  padding: 14px 40px;
  font-size: 20px;
  border: none;
  text-align: center;
}

.container{  
  text-align: center;  
  width: 300px;  
  height: 200px;  
  padding-top: 100px;  
  
  }  

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100;
  color: #115ff4;
  text-align: center;
  padding: 1em;
}

.question {
  background-color: rgb(14, 139, 87);
}